<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Shay Mor. It uses data from mapbox.com and weatherstack.com</p>
        <p>I made this website while learning Node.js. It uses technologies such as handlebars, express, some APIs, and other various JS techniques.</p>
    </div>

    {{>footer}}
</body>

</html>
